body {
    font: 100% Courier New;
    margin: 20px;
    line-height: 26px;
    background-color: #000000;
}

.meta {
    color: #84c754;
}

.text {
    color: #ffffff;
}

h1, h2 {
    text-align: center;
}